# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# IDE
.idea/
.vscode/

# Platform generated
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
